body {
	background-color: white;
}

div.head {
	border: 1.5px solid;
	padding: 4px;
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	margin-top: -7.5px;
	margin-bottom: 30px;
	margin-left: -6.5px;
	margin-right: -6.5px;
	background-color: skyblue;
	border-color: black;
	border-radius: 1.5mm;
}
.sprinttab1 {
	border: 2px solid;
	padding: 5px;
	margin-bottom: 00px;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration-color: beige;
	padding-left: 4.5mm;
	padding-right: 4.5mm;
	border-color: black;
	background-color: chartreuse;
	border-radius: 4mm;
}

.pageborder {
	border: 1.5px solid;
	padding: 50px;
	margin-top: 20px;
	margin-left: -6.5px;
	margin-right: -6.5px;
	border-color: black;
	border-radius: 1mm;
}

.pageborder2 {
}
